:root {
    --colors-save: rgb(5, 152, 98);
    --bg-card: #F5F5F5;
    --border-hover: #008ECC;
    --main-color: #19BFEF;
}

.drawer-Body::-webkit-scrollbar {
    width: 0px;
    /* Width of the scrollbar */
}

.drawer-Body::-webkit-scrollbar-track {
    background: #f0f0f0;
    /* Color of the track */
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 2px;

    /* Color of the thumb */
}

::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html,
body {
    overflow-x: hidden;
    width: 100%;
} */